.activity {
  overflow: auto;
  scrollbar-gutter: stable;
  min-width: var(--sizes-8);
  background: var(--colors-bg-secondary);
  border-right: var(--border-sm) solid var(--colors-bd-clear);
  padding: var(--padding-sm) 0;

  .activityTitle {
    padding: 0 var(--padding-sm);
    padding-bottom: var(--padding-xs);
    text-transform: uppercase;
    display: block;
    width: 100%;
    border-bottom: var(--border-sm) solid var(--colors-bd-clear);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--colors-bg-tertiary);
  border-right: var(--border-sm) solid var(--colors-bd-clear);
  width: fit-content;

  .icon {
    --bd: var(--border-lg);

    width: 1.6em;
    border-radius: 0;
    border-left: var(--bd) solid transparent;
    border-right: var(--bd) solid transparent;
  }

  .active {
    border-left-color: var(--colors-primary);
    color: var(--colors-primary);
  }
}
