.dirView {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .dirContent {
    height: 0;
    min-width: 0;
    flex-grow: 1;
    scrollbar-gutter: stable;
  }

  .dirInfo {
    min-width: max-content;
    position: sticky;
    top: 0;
    flex-grow: 0;
    background: var(--colors-bg-secondary);

    .dirToolbar {
      padding: var(--padding-sm);
      gap: var(--gap-sm);
      display: flex;
      border-bottom: var(--border-sm) solid var(--border);
    }
  }
}
