.dirView {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .dirContent {
    height: 0;
    min-width: 0;
    flex-grow: 1;
    scrollbar-gutter: stable;
  }

  .dirInfo {
    min-width: max-content;
    position: sticky;
    top: 0;
    flex-grow: 0;
    background: var(--colors-bg-secondary);
  }
}
