.sidebar {
  display: flex;
  flex-shrink: 1;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  overflow-y: auto;
  text-overflow: ellipsis;
  flex-direction: column;
  min-width: var(--sizes-8);
  min-height: 0;
  background: var(--colors-bg-secondary);
  border-right: var(--border-sm) solid var(--colors-bd-clear);

  .section {
    padding: var(--padding-sm);

    &:not(:last-child) {
      border-bottom: var(--border-sm) solid var(--colors-bd-clear);
    }

    .title {
      width: 100%;
      text-transform: uppercase;
      align-items: center;
    }

    .body {
      padding: 0 var(--padding-sm);

      & > * {
        width: 100%;
      }
    }
  }
}
