@mixin debug() {
  border: 1px solid red;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1/1;
}

@mixin outline {
  $outline: var(--colors-outline);
  outline-style: solid;
  outline-color: $outline;
}

@mixin interactive {
  $bg-hover: var(--colors-neutral-focus-bg);
  $bg-focus: var(--colors-neutral-focus-bg);
  $bg-active: var(--colors-neutral-focus-bg);

  &:not(:disabled) {
    &:is(:hover, [data-hover]) {
      background: $bg-hover;
    }

    &:is(:focus, [data-focus]) {
      @include outline;
    }

    &:is(:active, [data-active]) {
      background: $bg-active;
      @include outline;
    }
  }
}

@mixin loop-animation($name, $dur) {
  animation: $name;
  animation-duration: $dur;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@mixin flash($bgFrom, $bgTo, $dur) {
  $name: unique-id();
  @debug $name;

  @keyframes #{$name} {
    from {
      background: $bgFrom;
    }
    to {
      background: $bgTo;
    }
  }

  @include loop-animation($name, $dur);
}
