.tabs {
  --border: var(--colors-bd-clear);

  flex-grow: 1;
  border: var(--border-sm) solid var(--border);

  .titles {
    border-bottom: var(--border-sm) solid var(--border);
    display: flex;

    .title {
      border-radius: 0 !important;
      border-right-width: var(--border-sm);
      border-right-color: var(--border);
      border-bottom-width: var(--border-md);
      border-bottom-color: transparent;
      min-width: var(--sizes-7);

      &[data-selected='true'] {
        border-bottom-color: var(--colors-primary);
        border-bottom-style: inset;
      }
    }
  }

  .content {
    padding: var(--padding-sm);
  }
}
