@mixin vertical($size) {
  width: $size;
  //min-height: 100%;
  min-height: 0;
  cursor: col-resize;
}

@mixin horizontal($size) {
  height: $size;
  min-width: 100%;
  cursor: row-resize;
}

.split {
  display: flex;
  flex-grow: 1;

  > *:not(.divider) {
    flex-grow: 1;
  }

  &[data-split-direction='vertical'] {
    flex-direction: row;
  }

  &[data-split-direction='horizontal'] {
    flex-direction: column;
  }

  .divider {
    $size: var(--sizes-0-5);
    $sizeHover: var(--sizes-1);
    $bg: var(--colors-bd-clear);
    $outline: $size solid var(--colors-outline);

    justify-content: center;
    display: flex;
    flex-grow: 0;

    .line {
      width: 100%;
      height: 100%;
      background: $bg;
    }

    &[data-direction='vertical'] {
      @include vertical($sizeHover);
      flex-direction: row;

      & .line {
        @include vertical($size);
      }
    }

    &[data-direction='horizontal'] {
      @include horizontal($sizeHover);
      flex-direction: column;

      .line {
        @include horizontal($size);
      }
    }

    &:is(:hover, :focus) {
      background: var(--bg);

      & .line {
        outline: $outline;
      }
    }
  }
}
