.scrollContainer {
  --bg: var(--colors-bg-secondary);
  background: var(--bg);
  min-width: 200px;
  border: 1px solid red;
  min-height: 300px;
  resize: both;
  overflow: auto;
  width: 100%;
}

.addr {
  position: sticky;
  padding: 4px;
  white-space: nowrap;
  background: lightblue;
  border-bottom: 1px solid blue;
  min-width: max-content;
  width: 100%;
  top: 0;
}

.buttons {
  position: sticky;
  display: flex;
  gap: 4px;
  border-bottom: 1px solid blue;
  width: 100%;
  min-width: max-content;
  top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}
