.tabs {
  --outline-size: var(--sizes-0-5);
  --border: var(--colors-bd-clear);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .titles {
    border-bottom: var(--border-sm) solid var(--border);
    display: flex;

    .title {
      display: flex;
      justify-content: space-between;
      padding: var(--padding-sm);
      border-radius: 0 !important;
      border-right-width: var(--border-sm);
      border-right-color: var(--border);
      border-bottom-color: transparent;
      min-width: var(--sizes-8);

      & > span {
        display: flex;
        gap: var(--gap-sm);
        justify-content: center;
        align-items: center;
        & > svg {
          font-size: 1.2em;
        }
      }

      &[data-selected='true'] {
        border-bottom-color: var(--colors-primary);
        border-bottom-width: var(--border-md);
        border-bottom-style: inset;
      }

      &:not([data-selected='true']) {
        background: var(--colors-bg-secondary);
      }

      .closeButton {
        font-size: 0.8em;
      }
    }

    .tools {
      margin: var(--padding-sm);
    }

    .spacer {
      flex-grow: 1;
    }
  }

  .content {
    flex-grow: 1;
  }
}
