.tabs {
  --outline-size: var(--sizes-0-5);
  --border: var(--colors-bd-clear);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .titles {
    border-bottom: var(--border-sm) solid var(--border);
    display: flex;

    .title {
      padding: var(--padding-sm);
      border-radius: 0 !important;
      border-right-width: var(--border-sm);
      border-right-color: var(--border);
      border-bottom-color: transparent;
      min-width: var(--sizes-7);

      &[data-selected='true'] {
        border-bottom-color: var(--colors-primary);
        border-bottom-width: var(--border-md);
        border-bottom-style: inset;
      }
    }

    .tools {
      margin: var(--padding-sm);
    }

    .spacer {
      flex-grow: 1;
    }
  }

  .content {
    flex-grow: 1;
  }
}
