/**
Important notes:
- Defining layer orders go first.
- Then, the layer rules, which can be inline or added via @import
*/
@layer gfm, prism, base;

/*@import url('github-markdown-css/github-markdown-dark.css')*/
/*  layer(gfm) (prefers-color-scheme: dark);*/
@import url('github-markdown-css/github-markdown-light.css')
  layer(gfm);
/*@import url('prism-themes/themes/prism-one-dark.css')*/
/*  layer(prism) (prefers-color-scheme: dark);*/
@import url('prism-themes/themes/prism-one-light.css')
  layer(prism) ;

@layer base {
  .markdown-body {
    --hl-line-width: 4px;

    box-sizing: border-box;
    min-width: 768px;
    padding: 45px;
  }

  @media (width <= 767px) {
    .markdown-body {
      padding: 15px;
    }
  }

  pre {
    display: flex;
    overflow-x: auto;
  }

  .code-highlight {
    max-width: 100%;
  }

  .code-line {
    display: block;
  }

  .code-line.inserted {
    background-color: rgb(16 185 129 / 20%); /* Set inserted line (+) color */
  }

  .code-line.deleted {
    background-color: rgb(239 68 68 / 20%); /* Set deleted line (-) color */
  }

  .highlight-line {
    background-color: rgb(55 65 81 / 20%); /* Set highlight bg color */
    padding-right: 2em;
    padding-left: 2em;
    margin-left: -1em;
  }

  .line-number::before {
    display: inline-block;
    width: 2em;
    text-align: right;
    color: rgb(156 163 175);
    content: attr(line) ' ';
  }

  .highlight-line.line-number::before {
    padding-left: calc(1em - var(--hl-line-width));
    margin-left: -2em;
    border-left: var(--hl-line-width) solid rgb(59 130 246);
  }
}
