:root {
  /* Standard sizes: Fibonacci sequence with mid steps and multiply by 4px */
  --sizes-0: 0px;
  --sizes-0-1: 1px;
  --sizes-0-5: 2px;
  --sizes-1: 4px;
  --sizes-1-5: 6px;
  --sizes-2: 8px;
  --sizes-2-5: 10px;
  --sizes-3: 12px;
  --sizes-3-5: 16px;
  --sizes-4: 20px;
  --sizes-4-5: 26px;
  --sizes-5: 32px;
  --sizes-5-5: 42px;
  --sizes-6: 52px;
  --sizes-6-5: 68px;
  --sizes-7: 84px;
  --sizes-7-5: 110px;
  --sizes-8: 136px;
  --sizes-8-5: 178px;
  --sizes-9: 220px;
  --sizes-9-5: 288px;
  --sizes-10: 356px;
  --sizes-10-5: 466px;
  --sizes-11: 576px;
  --sizes-11-5: 754px;
  --sizes-12: 932px;

  /* Specific sizes based on the standard sizes, use as elements gap */
  --border-sm: var(--sizes-0-1);
  --border-md: var(--sizes-0-5);
  --border-lg: var(--sizes-1);

  --gap-sm: var(--sizes-1);
  --gap-md: var(--sizes-2);
  --gap-lg: var(--sizes-3);

  /* Margins */
  --margin-xs: var(--sizes-0-5);
  --margin-sm: var(--sizes-1);
  --margin-md: var(--sizes-2);
  --margin-lg: var(--sizes-3);

  /* Padding */
  --padding-xs: var(--sizes-0-5);
  --padding-sm: var(--sizes-1);
  --padding-md: var(--sizes-2);
  --padding-lg: var(--sizes-3);

  /* Padding */
  --rounded-sm: var(--sizes-1);
  --rounded-md: var(--sizes-2);
  --rounded-lg: var(--sizes-3);
  --rounded-half: 9999px;
}
