.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100svh;

  & aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
    padding: var(--padding-lg);

    background-color: var(--colors-bg-secondary);
    border-right: var(--sizes-0-1) solid var(--colors-bd-subtle);
    height: 100%;
    overflow: hidden;

    & nav {
      flex-grow: 1;
      overflow: auto;
      scrollbar-gutter: stable;

      & button {
        border-radius: 0;
      }
    }
  }

  .content {
    scrollbar-gutter: stable;
    padding: var(--padding-lg);
    background-color: var(--colors-bg-primary);
    height: 100%;
    flex-grow: 1;
    overflow: auto;
  }
}
