@import url('../../styles/index.css');

.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100svh;

  & aside {
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--colors-bg-secondary);
    border-right: var(--sizes-0-1) solid var(--colors-border-subtle);
    height: 100%;
    overflow: hidden;

    & nav {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-gutter: stable;
      padding-right: var(--padding-sm);

      & button {
        border-radius: 0;
      }
    }
  }

  .content {
    scrollbar-gutter: stable;
    padding: var(--padding-lg);
    background-color: var(--colors-bg-primary);
    height: 100%;
    flex-grow: 1;
    overflow: auto;
  }
}
