@import url('../../styles/index.css');

.main {
  color: var(--indigo-12);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100svh;

  & aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--padding-md);
    gap: var(--gap-md);

    background-color: var(--colors-bg-secondary);
    border-right: var(--sizes-0-1) solid var(--colors-border-subtle);
    height: 100%;
    overflow: hidden;

    & nav {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-gutter: stable;

      & ul {
        width: fit-content;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        height: 100%;

        & li > button {
          padding-right: var(--padding-lg);
          width: 100%;
        }
      }
    }
  }

  .content {
    scrollbar-gutter: stable;
    padding: var(--padding-lg);
    background-color: var(--colors-bg-primary);
    height: 100%;
    flex-grow: 1;
    overflow: auto;
  }
}
